html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: sans-serif;
}

h1, h2, h3 {
	font-weight: 600;
	text-transform: uppercase;
}

.hero h1 {
	font-size: 48px;
	margin-bottom: -10px;
}

.hero {
	text-align: center;
	color: tomato;
	background-size: cover ;
	background-color: skyblue;
	background-image: url(../images/hero1.jpg);
	padding: 100px 0;
	/*padding-top: 100px;*/
	/*padding-bottom: 100px;*/
	/*padding-left: 0px;*/
	/*padding-right: 0px;*/
}

nav{
	background-color: black;
	text-align: center;
	padding: 30px;
}

nav ul{
		display: flex;
		justify-content: space-between;
		list-style: none;
		width: 80%;
		margin: 0 auto;
		padding: 0;
}

nav ul a {
	color: white;
	text-decoration: none; 
}

nav li {
	margin-top: 30px;
}

.feature{
	background-color: tomato;
	text-align: center;
	color: yellow;
}


.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.box{
	flex-basis: 33.33%;
	padding: 20px;
}

.hero p{
	background-color: yellow;

}

.box img{
	height: 50px; 
	width: auto;
}

@media (max-width: 650px) {
	.box {
		flex-basis: 100%;
	}
}

.media {
	padding: 40px 0;
}

.media-left{
	flex-basis: 40%;
	padding-right: 60px;
}

.media-right {
	flex-basis: 60%;
}

.media-right img {
	width: 100%;
	height: auto;
}

@media (max-width: 800px) {
	.media-left, .media-right {
		flex-basis: 100%;
	}
}

.review{
	text-align: center;
	padding: 50px;
}

.author{
	width: 400px;
	margin: 0 auto;
	text-align: left;
	background-color: tomato;
}

.author img {
	float: left;
	border-radius: 35%;
	width: 200px;
	height: auto;
	margin-right: 20px;
}

.author h2{
	margin-top: 20px;
	padding-top: 60px;
}

@media (max-width: 470px) {
	.author {
		flex-basis: 100%;
	}
}

.footer {
	text-align: center;
	padding: 60px 0;
}











